<h1>Dragon Ball Z</h1>


<div class="row">

  <div class="col">
    <h2>Personajes</h2>
    <hr />

    <ul>
      <li>Krillin - 700</li>
      <li>Goku - 15.000</li>
      <li>Vegeta - 8.500</li>
    </ul>

  </div>

  <div class="col">
    <h2>Añadir {{character.name}}</h2>
    <hr />

    <form (ngSubmit)="createCharacter()">
      <input type="text" placeholder="Nombre" name="name" [(ngModel)]="character.name" />
      <input type="number" placeholder="Poder" name="power" [(ngModel)]="character.power" />
      <button type="submit">Enviar</button>
    </form>

  </div>

</div>
