<h1>Dragon Ball Z</h1>

<div class="row">
  <div class="col">
    <app-characters></app-characters>
  </div>

  <div class="col">
    <h2>Añadir {{ newCharacter.name }}</h2>
    <hr />
    <form (ngSubmit)="createCharacter()">
      <input
        type="text"
        placeholder="Nombre"
        name="name"
        [(ngModel)]="newCharacter.name"
      />
      <input
        type="number"
        placeholder="Poder"
        name="power"
        [(ngModel)]="newCharacter.power"
      />
      <button type="submit">Enviar</button>
    </form>
  </div>
</div>
